.article {}

.article-header {
	margin-top: 65px;
}

.article-action-list {
	display: flex;
	justify-content: flex-end;
}

.article-action-item {
	&:not(:last-child) {
		margin-right: 45px;
	}
}

.article-action-link {
	color: $color-primary-black;
	background-color: transparent;
	text-decoration: underline;
    outline: 0;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: .1em;
}

.article-body {
	margin-top: 33px;
}

.article-posted {
	font-size: 20px;
	letter-spacing: .2em;
}

.article-title {
	margin-top: 42px;
	font-size: 40px;
	font-family: $gothic;
	font-weight: 500;
	letter-spacing: .05em;
}

.article-image {
	margin-top: 48px;
	width: 100%;
	height: 540px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.article-text {
	margin-top: 60px;
	font-size: 18px;
	letter-spacing: .1em;
    line-height: 2.2;
}