.news-article {}

.news-article-header {
	margin-top: 65px;
}

.news-article-action-list {}

.news-article-action-item {
	display: flex;
	justify-content: flex-end;
}

.news-article-action-btn {
	border: 0;
	color: $color-primary-black;
	background-color: transparent;
	text-decoration: underline;
    outline: 0;
	font-weight: 700;
	font-size: 22px;
	letter-spacing: .1em;
	font-family: $gothic;
}

.news-article-body {
	margin-top: 33px;
}

.news-article-posted {
	font-size: 20px;
	letter-spacing: .2em;
}

.news-article-title {
	margin-top: 42px;
	font-size: 40px;
	font-family: $gothic;
	font-weight: 500;
	letter-spacing: .05em;
}

.news-article-image {
	margin-top: 48px;
	width: 100%;
	height: 540px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.news-article-text {
	margin-top: 60px;
	font-size: 18px;
	letter-spacing: .1em;
    line-height: 2.2;
}