.slider {}

.slider-wrapper {
    width: 100%;
    height: 666px;
    position: relative;
}

.slider-items {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.slider-item {
	height: 100%;
}

.slider-item-title {
	width: 100%;
	line-height: 1.58;
    display: inline;
    padding: 8px 0;
	font-size: 60px;
	font-weight: 500;
	color: $color-white;
	font-family: $gothic;
	background-color: $color-primary-black;
	box-shadow: 0.25em 0 0 $color-primary-black,-0.25em 0 0 $color-primary-black;
}

.slider-item-posted {
	font-size: 29px;
	letter-spacing: .15em;
	margin-top: 20px;
	display: block;
	margin-right: -18px;
}

.slider-item-inner-wrapper {
	position: relative;
	height: 100%;
}

.slider-item-inner-content {
	width: 545px;
	display: block;
	text-align: right;
	position: absolute;
	right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider-indicators {
	position: absolute;
	display: flex;
	bottom: 50px;
	left: 50%;
	transform: translateX(-50%);
}

.slider-indicator-item {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: $color-grey;
	margin: 0 5px;

	&.is-active {
		background-color: $color-primary-black;
	}
}

.slider-navigation {
	top: 0;
	height: 100%;
	position: absolute;
	width: calc((100% - 1120px) / 2);
}

.slider-navigation-left {
	left: 0;
}

.slider-navigation-right {
	right: 0;
}

.slider-navigate {
	position: relative;
	width: 100%;
	height: 100%;

	&:hover {
		cursor: pointer;
	}
}

.navigate-left,
.navigate-right {
	top: 50%;
	height: 18px;
    width: 18px;
    position: absolute;
    border-color: #101010;
}

.navigate-left {
    left: 50%;
    border-width: 0 0 5px 5px;
    border-left-style: solid;
    border-bottom-style: solid;
	transform: translate(-50%, -50%) rotate(45deg);
}

.navigate-right {
    right: 50%;
    border-width: 5px 5px 0 0;
    border-right-style: solid;
    border-top-style: solid;
	transform: translate(-50%, -50%) rotate(45deg);
}










