.l-container {
	width: 100%;
	max-width: 1120px;
	margin: 0 auto;
}

.l-section {
	width: 100%;
	position: relative;
}

.l-section-posts {
	padding: 98px 0 150px;
}

.l-section-comment {
	border-top: 1px solid $color-primary-black;
	padding-top: 60px;
	margin-top: 94px;
}

.l-section-login-register {
	padding-top: 78px;
	margin-bottom: 154px;
	position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-white;
    z-index: 1;
}