$gothic: "Yu Gothic", YuGothic, sans-serif;
$montserrat: "Montserrat";

$color-primary-black: #101010;
$color-secondary-black: #292929;

$color-white: #fff;
$color-grey: #CCD2D0;
$color-light-grey: #F5F5F5;